/* root */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

/* body */
body {
    background-color: #f1f1f1;
}

/* General display */
header, nav, h1, h2, h3, h4, h5, h6 {
    display: block;
    color: #121212
}

h2 {
    font-size: 5em;
    margin: 20px 800px
}

h3 {
    font-size: 2em;
    margin: 20px auto;
}

/* header */
header {
    background-color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
}

/* navigation bar*/
nav {
    overflow: hidden;
    background-color: white;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: inline-flex;
}

nav a {
    float: left;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #121212
}

nav a:hover {
    background-color: lightslategray;
    color: white;
}

/* main section */
main {
    padding: 40px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white
}

/* introduction section */
#intro {
    width: 100%;
    padding: 80px 10px 10px  10px;
    text-align: center;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#intro  h1 {
    font-size: 5em;
    color: #121212
}

/* paragraphs */
p {
    font-size: 2em;
    color: #5a5a5a;
    text-align: justify;
    line-height: 1.5;
    margin: 10px 0 10px 0;
    padding: 24px
}

/* projects */

.projects, .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
  }
  
  .project-card, .skill-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    overflow: hidden;
  }
  
  .project-name, .skill-name {
    font-size: 1.5em;
    color: #333;
    padding: 16px 0;
  }
  
  .project-image, .skill-image {
    width: 300px;
    height: 200px;
    display: block;
  }
  
  .project-description, .skill-description {
    padding: 16px;
    color: #666;
    font-size: 1em;
    line-height: 1.5;
  }

/* footer */
#footer {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.socials {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.socials a {
    float: left;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #121212
}

.socials a:hover {
    background-color: lightslategray;
    color: white;
}

/* media queries */
@media only screen and  (max-width: 600px) {
    #shehroz, #projects-id, #skills-id, #hobbies-id, #footer {
        width: 100%;
    }
}
